body {
background: #bbd4f1; /* Old browsers */
background: -moz-linear-gradient(45deg,  #bbd4f1 0%, #c4dff6 0%, #cbd5fb 0%, #ffe3bb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#bbd4f1), color-stop(0%,#c4dff6), color-stop(0%,#cbd5fb), color-stop(100%,#ffe3bb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #bbd4f1 0%,#c4dff6 0%,#cbd5fb 0%,#ffe3bb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #bbd4f1 0%,#c4dff6 0%,#cbd5fb 0%,#ffe3bb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #bbd4f1 0%,#c4dff6 0%,#cbd5fb 0%,#ffe3bb 100%); /* IE10+ */
background: linear-gradient(45deg,  #bbd4f1 0%,#c4dff6 0%,#cbd5fb 0%,#ffe3bb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd4f1', endColorstr='#ffe3bb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.ui-page { background: transparent; }
.ui-content { padding: 10px; }
.ui-header { height: 38px; padding: 3px 12px; text-align: center;}
.ui-footer { padding-left: 5px; text-align: center; }
.ui-popup { height: 300px; width: 300px;  }
.ui-grid-a .ui-block-a { padding-top: 5px; width: 66%; }
.ui-grid-a .ui-block-b { width: 34%; }
.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b { height:60px; border-width: 0 0 1px 0; border-style: solid; border-color: #999; }
.ui-header .ui-btn { height: 18px; }
.ui-checkbox input { width: 30px; height: 30px; }

.contact_name {
  background-color:#073585;
  color:white;
  border:1px dotted #073585;
  vertical-align:bottom;
  padding:3px;
}

.details {
  color:#073585;
  padding-left:40px;
}

.card {
  border:1px solid black;
  background:white;
  margin:auto;
}

#LIST, #EMPTY, #SHOW_EMAIL_FORM, #EMAIL_FORM { display:none }

/*
#scan_button {
   width: 200px;
   height: 100px;
   margin: 30px auto;
   box-shadow: 10px 10px 10px #878;
   display:block;
   background:#073585;
   color:white;
   font-size:28pt;
   border:4px solid orange;
}


#scan_button:active {
   box-shadow: 4px 4px 10px #878;
   left: 2px;
   top: 2px;
}

#popupResult { background: transparent; box-shadow: none; border: none; }
#popupResult img { display: none; }
*/