<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.informs.vendorqr"
        versionCode = "11"
        version     = "0.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>INFORMS Badge Reader</name>

    <description>
        PhoneGap Build config for INFORMS Badge Reader, which can scan INFORMS attendee badge QR codes and extract their contact information.
    </description>

    <author href="https://www.informs.org" email="sangeetha.menon@informs.org">
        Sangeetha Menon
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.device" />

    <icon src="badgeapp-icon.png" gap:platform="ios" width="60" height="60" />
    <gap:splash src="badgeapp-screen.png" gap:platform="ios" width="300" height="400" />

    <icon src="badgeapp-icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="badgeapp-screen.png" gap:platform="android" gap:qualifier="ldpi" />

</widget>
