<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.informs.badgereader"
        versionCode = "12"
        version     = "0.0.3" >

    <!-- versionCode is optional and Android only -->

    <name>INFORMS Badge Reader</name>

    <description>
        PhoneGap Build config for INFORMS Badge Reader, which can scan INFORMS attendee badge QR codes and extract their contact information.
    </description>

    <author href="https://www.informs.org" email="sangeetha.menon@informs.org">
        INFORMS
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.device" />

<!-- ICONS -->

    <icon src="icon.png" />

  <!-- iOS < 7.0 -->

    <!-- iPhone / iPod Touch  -->
    <icon src="icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icon@2x.png" gap:platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icon-72@2x.png" gap:platform="ios" width="144" height="144" />

    <!-- Settings Icon -->
    <icon src="icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icon-small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80" />

  <!-- iOS 7.0+ -->

    <icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icon-152.png" gap:platform="ios" width="152" height="152" />
    <icon src="icon-120.png" gap:platform="ios" width="120" height="120" />

  <!-- Android -->

    <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />

<!-- SPLASH SCREENS -->

    <gap:splash src="splash.png" />

    <!-- iPhone and iPod touch -->
    <gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="Default-568h.png" gap:platform="ios" width="320" height="568" />
    <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPad -->
    <gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

</widget>
